.adoptapet{
    display: flex;
    justify-content: center;  
    flex-direction: row;
    height: 55vh;
    margin-top: 20px;
}
.adoptapet1{
    margin-right: 40px;
}
.adoptapet h1{
    margin-bottom: 10px;
    font-size: 24px;
}
.adoptapet p{
    color: #6a7081;
    font-size: 18px;
    font-family: DM Sans;
}

/* Mobile View  */
@media only screen and (max-width:320px) {
    .adoptapet h1{
        color: #000;
        font-family: DM Sans Bold;
        font-weight: 600;
        font-size: 52px;
        margin-bottom: 20px;
        line-height: 1.2;
        margin-left: 30px;
        width: 100%;
    }
    .adoptapet p{
        color: #6a7081;
        font-size: 48px;
        font-family: DM Sans;
        margin-left: 100px;
        width: 800px;
        margin-top: 50px;
    }
    .adoptapet img{
        margin-left: 100px;
        width: 800px;
    }
}



